@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body {
    width: 90%;
    margin: 0 auto;
}

.logo{
   
   margin-top: 50px;
   
  }





.principal h2 {
   
    width: 343px;
    height: 48px;
    left: 16px;
    top: 152px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
   
    margin-left: 50px;
}

.text{
    width: 90%;
}

.text textarea{
    outline: 0;
    height:400px;
    width: 100%;
    margin: 0 7%;
    border: none;
    font-size: 32px;
    color: #0A3871;
}

.text textarea::placeholder{
  color: #0A3871;
}

.acciones{
    width: 90%;
    margin-left: 5px;
}

.btn1{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
   color: #fff;
    width: 343px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    border: none;
    background: #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.btn1:hover{
  background: #021732;
}

.btn2{
    margin-top: 10px;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
     gap: 8px;
     border: solid 1px #021732;
    
    width: 343px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    color: #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.btn2:hover{
  background-color: #495057;
  color: beige;
}

.btn3{
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
 color: #fff;
  width: 343px;
  height: 67px;
  
  /* Dark blue/dark-blue-300 */
  border: none;
  background: #0A3871;
  border-radius: 24px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}



.mensaje-encriptado h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

}

.mensaje-encriptado{
  margin-top: 0px;
}

.mensaje-encriptado p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;
  color: #495057;
 
}


@media screen and (min-width: 768px){
  
 .acciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0;
 }

 .btn1{
    margin-left: 80px;
 }

 .btn2  {
    margin:0px 5px


 }


}


@media screen and (min-width: 800px) {
  .principal {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 90%;
    margin: 0 auto;
  }

  .principal h2 {
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
  }
  
  .imagen{
    background-image: url('../img/Muñeco.svg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
   
 
 .text textarea{
    outline: 0;
    height:300px;
 
}

.acciones-btn-3{

}

.btn3{
  width: 50%;
  margin: 0 20%;
}


  
}
